# ทบทวนพื้นฐาน Python

In [18]:
goo = 'Google'
num = 10

In [20]:
for i in range(num):
    print('Phuwadol ' + goo)

Phuwadol Google
Phuwadol Google
Phuwadol Google
Phuwadol Google
Phuwadol Google
Phuwadol Google
Phuwadol Google
Phuwadol Google
Phuwadol Google
Phuwadol Google

In [21]:
a = 'lol '
b = 10
c = a * b
c

'lol lol lol lol lol lol lol lol lol lol /n'

# แนะนำ List

In [22]:
Salary = [12000,50000,35456,54657,45599,99999,100000,85555]

In [24]:
Salary += [40000,46250]

In [25]:
Salary

[12000, 50000, 35456, 54657, 45599, 99999, 100000, 85555, 40000, 46250]

In [29]:
Salary

[12000, 35456, 40000, 45599, 46250, 50000, 54657, 85555, 99999, 100000]

In [31]:
for i in Salary:
    print(i)

12000
35456
40000
45599
46250
50000
54657
85555
99999
100000

In [36]:
#Slice var[start:stop;step]
Salary[2:]

[40000, 45599, 46250, 50000, 54657, 85555, 99999, 100000]

In [37]:
Salary[2:6]

[40000, 45599, 46250, 50000]

In [38]:
Salary[2:6:2]

[40000, 46250]

In [47]:
Salary.sort(reverse=True)

In [48]:
Salary

[100000, 99999, 85555, 54657, 50000, 46250, 45599, 40000, 35456, 12000]

In [49]:
import statistics
statistics.stdev(Salary)

29042.990139905818