สวัสดีครับ วันนี้เราจะมาทำแพนด้ากันดีกว่าครับ

In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.__version__

'0.20.3'

In [4]:
# Data Series
sales = pd.Series([100,200,500,800,300,600,500,422,244,889,222,999,785,358,464,852])

In [5]:
sales

0     100
1     200
2     500
3     800
4     300
5     600
6     500
7     422
8     244
9     889
10    222
11    999
12    785
13    358
14    464
15    852
dtype: int64

In [6]:
sales[2]

500

In [7]:
sales[1:4]

1    200
2    500
3    800
dtype: int64

In [8]:
sales1 = sales*2

In [9]:
sales1

0      200
1      400
2     1000
3     1600
4      600
5     1200
6     1000
7      844
8      488
9     1778
10     444
11    1998
12    1570
13     716
14     928
15    1704
dtype: int64